/*links to conferenceRebistrationForm.html */

body{
    font-family: 'Titillium Web', sans-serif; 
}
#shirtSize{
    color: blue;
}
#junkMail{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-variant: small-caps;
}
.m-3 {  /* selecting the whole body element by class = to apply the background color gradient 
    /* fallback color*/
    background-color:#59BEF5 ;   
    /* fallback image */
    background-image: url("images/fallback-image.png");
    /* Firefox 3.6+    different browsers have different syntax*/
    background-image: -moz-linear-gradient(#59BEF5 ,#B0DCF4);
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(#59BEF5 ,#B0DCF4);
    /* Opera 11.10+ */
   background-image: -o-linear-gradient(#59BEF5 ,#B0DCF4);

}
