h1 {
    font-size: 50;
    text-align: center;
}
.m3{
    

    /* Chrome 10+, Safari 5.1+ */
    background-image: -webkit-linear-gradient(#2a96f5,#c8def1 )


/* need for other browsers here*/

}
.jumbotron {
    /*background-color: rgb(141, 155, 219);-->*/
    background: url('images/raphael-andres-Ym7NVRKgmJc-unsplash.jpg')

}


li {
    display: inline;
    background-color: gold;
    color: darkblue;
    font-size: 23px;
}


