body{
    font-size: 16px;
}
.generalInfo {  
    font-size: larger;
    margin: 100px;
    /* Chrome 10+, Safari 5.1+ */
   /* background-image: -webkit-linear-gradient(#66b2f4,#b1d6f7)*/
   /*background: rgb(106,100,215);
   background: linear-gradient(90deg, rgba(106,100,215,1) 0%, rgba(101,101,181,1) 40%, rgba(158,180,214,1) 100%);*/
   background: rgb(150,176,238);
    background: linear-gradient(90deg, rgba(150,176,238,1) 0%, rgba(145,168,214,1) 40%, rgba(192,204,223,1) 100%);
}

h1 {
    font-size: 50;
    text-align: center;
}
.m3{

    /* Chrome 10+, Safari 5.1+ */
    background-image: -webkit-linear-gradient(#2a96f5,#c8def1 )

/* need for other browsers? */


}
.jumbotron {
    background-color:white;
    /*background: url('images/raphael-andres-Ym7NVRKgmJc-unsplash.jpg')*/
    
}

img{
   width: 100%;
    height: 20%;
}
li {
    display: inline;
    font-size: 1.0rem;
}
.navigation{
    width: 100%;
    background-color: darkblue;
}
a{
    color:goldenrod;
    padding-right: 15px;
    font-size: 1.5rem;
}
img.align-left-large {
    float: left;
    margin-right: 10px;
}

.lawyerspics{
    width: 300px;
    height: 300px;
}

.lawAreaHeader{
    margin-left: 3rem;

}
.basicInfo{
    font-size: 1rem;
    margin-top: 5rem;
    margin-left: 3rem;
      
}
.email{
    font-size: 1.0rem;
}

